/* Import Bootstrap CSS */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


/* Sidebar menu styles */
.sidebar-menu {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu a {
    display: block;
    color: #333;
    text-decoration: none;
}

.sidebar-menu a:hover {
    color: #007bff;
}